[submodule "go_web/GoWeb_ToDoList"]
	path = go_web/GoWeb_ToDoList
	url = git@github.com:mao888/bluebell.git
[submodule "bluebell"]
	path = bluebell
	url = git@github.com:mao888/bluebell.git
[submodule "argo"]
	path = argo
	url = git@github.com:mao888/argo.git
[submodule "uber_go_guide_cn"]
	path = uber_go_guide_cn
	url = https://github.com/mao888/uber_go_guide_cn.git
[submodule "GoWeb_ToDoList"]
	path = GoWeb_ToDoList
	url = git@github.com:mao888/GoWeb_ToDoList.git
[submodule "Microservice"]
	path = Microservice
	url = git@github.com:mao888/Microservice.git
[submodule "go-utils"]
	path = go-utils
	url = git@github.com:mao888/go-utils.git
[submodule "golang-guide"]
	path = golang-guide
	url = git@github.com:mao888/golang-guide.git
[submodule "mao888"]
	path = mao888
	url = https://github.com/mao888/mao888
